---
filter: haml
---

#game
  #game-buttons.initial
    #rock.default
    #paper.default
    #scissors.default
    #msg
      #blank
        &nbsp;
      #win
        %a(href='html/welcome.html')
          You win,<br />
          good job!
      #lose
        %a(href='html/welcome.html')
          You lose,<br />
          try again.
      #draw
        %a(href='html/welcome.html')
          It's a tie,<br />
          so close!
    #result
    