---
extension: html
filter:    haml
---
#tabs
  .home
    %a(href='welcome.html') 
      home
  .picks
    %a(href='picks.html') 
      picks
  .about.selected
    %a(href='about.html')
      about
  .events
    %a(href='')
      events
  .books
    %a(href='')
      books
  .gear
    %a(href='') 
      gear

<hr />

Address
<br />
232 North Higgins Avenue
Missoula, MT  59802-4435
406-728-8780
<br />
<br />

<hr />
Hours
<br />
7A-2A M-S
  