---
extension: html
filter: 
  - erb
  - haml
---
#tabs
  .home<%= '.selected' if (@page.name == 'welcome') %>
    %a(href='welcome.html') 
      home
  .picks<%= '.selected' if (@page.name == 'picks') %>
    %a(href='picks.html') 
      picks
  .about<%= '.selected' if (@page.name == 'about') %>
    %a(href='about.html')
      about
  .events
    %a(href='')
      events
  .books
    %a(href='')
      books
  .gear
    %a(href='') 
      gear

<hr />
232 North Higgins
Missoula, MT  59802-4435
406-728-8780
<hr />
7AM to 12AM<br />
Monday to Saturday
  