---
title:  Wiley Books
filter: haml
extension: html
---

%h1.span-22.last
  About The Wiley Book Shop
.span-11
  %img#sam_and_sara(alt='Sam and Sara' src='images/samsara.png')
  %h3 Who We Are
  %p Oh, you know, just two people that love books.  And I mean *really* love books.  We think that books are basically the only thing standing between a hot cup of coffee and oblivion.  
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.span-11.last
  %h3 Where is the shop?
  %img(src='images/map.png')
  %h3 Hours
  %p 7AM - 2AM Monday - Sunday.  