---
title:  Wiley Books
filter: haml
extension: html
---

.span-10
  .who_are_we.span-5
    %h1 Who are we?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed molestie fermentum leo, eget dictum arcu bibendum sit amet. 
  .owners.span-5.last
    %img#big_book(alt='Sam and Sara' src='images/samsara.png' width="175")
  .how_it_started.span-10.last
    %h3 How it all started...
    %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.prepend-1.span-9.last
  %h1 About the<br/>Wiley Book Shop
  .span-3
    %img.book.thumb(src='images/oldbook-lg.png' width='125px')
  .book_that_began_the_journey.span-6.last
    %h3 The book that began the journey...
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



/ %h1.span-22.last.about-title
/   About The Wiley Book Shop
/ .span-11
/   %img#sam_and_sara(alt='Sam and Sara' src='images/samsara.png')
/   %h3 Who We Are
/   %p Oh, you know, just two people that love books.  And I mean *really* love books.  We think that books are basically the only thing standing between a hot cup of coffee and oblivion.  
/   %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
/ .span-11.last
/   %h3 Where is the shop?
/   %img(src='images/map.png')
/   %h3 Hours
/   %p 7AM - 2AM Monday - Sunday.  

