---
title:  Wiley Books
filter: haml
extension: html
layout: front
---
/ NOTES:
/ Check your spelling.
/ Back up your work.
/ Make Prints.
/ File names and locations
/ Clean up your code
/ Get some sleep

#front-logo
  %a(href='html/welcome.html')
    %img(src='images/wiley-logo-blue.png' alt='Wiley Books')

#front-game= render(:partial => 'game')

