---
title:  Wiley Books
filter: haml
extension: html
layout: front
---
#front-logo
  %a(href='welcome.html')
    %img(src='images/wiley-logo-blue.png')
    .button
      &mdash; enter site &mdash;

#front-game= render(:partial => 'game')

