---
title:  Wiley Books
filter: haml
extension: html
layout: front
---

#horizontal-strip
  .game
    .rps.rock
    .rps.paper
    .rps.scissors
    .rps.result
    
<img id='logo' src='images/wiley-logo-blue.png />