---
title:  Wiley Books
filter: haml
extension: html
---

.span-10
  .book
    %img.big_book(src='images/moon_fish_ocean.jpg' width='350px' )
  .span-6
    .book
      %img(src='images/mfo-cover.jpg' width='200')  
  .span-4.last
    .book
      %img(src='images/rules_rinzai_on.jpg' width='103')
      %img(src='images/rules_on.jpg' width='102')
.prepend-1.span-9.last
  %h1 Sam &amp; Sara's Pick of the Month
  .span-9.last
    %h3 Moon Fish Ocean -<br />A Zen Conversion of Rock Paper Scissors
    %p An amazing re-imagining of the universe.  Oddfellow takes what should be a simple thing, and transforms it into a tragic tale of impending beauty.
    .rock
      %img(src='images/sam.png') 
      .span-6.last
        %h4 Amazing Find
        This book is incredible, it is basically why we started this in the first place.  Love, loss, precious moments in your life draining away as you peer into the depths of your own soul.
    %br(clear='all')
    .paper
      %img(src='images/sara.png')
      .span-6.last
        %h4 Everyone Should Read This Book
        At first you are thinking "really"? But then it hits you and never lets go.  I was unable to put it down and looked up at the moon and said "why? why would you curse the world with such beauty?"  It is impossible to say.

