---
title:  Wiley Books
filter: haml
extension: html
---

%h1.span-22.last
  Sam &amp; Sara's Pick of the Month

.span-8.prepend-1.append-1
  .pick
    %img.thumb(alt='Sam and Sara' src='images/sam.png')
    %h3 Seriously, It Is Excellent
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  %br(clear='all')
  .pick
    %img.thumb(alt='Sam and Sara' src='images/sara.png')
    %h3 My Fancy Has Hereby Been Tickled!  
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

.span-11.last
  #book
    %img(alt='Sam and Sara' src='images/book.jpg')
  %h2 Rock, Paper, Scissors - Game Theory in Everyday Life
  %p Games are everwhere.  All around us and through us, we play and are played.  Games are not the exception, but the rule.  


