---
title:  Wiley Books
filter: haml
extension: html
---

%h1.span-20.last.big-text
  Welcome to the<br />Wiley Book Shop

.bottom
  .big-quote.span-3
    &#147;

  %h1.span-17.last
    I did have some strange ideas during certain periods of time.  -- John Nash