---
title:       Home Page
created_at:  2008-08-02 14:06:40.000000 -06:00
filter: haml
---
%h1 Pixar

#navigation
  %a.text_link{:href => '#'} Home
  %a.text_link{:href => '#'} Feature Films
  %a.text_link{:href => '#'} Short Films
  %a.text_link{:href => '#'} The Theatre
  %a.text_link{:href => '#'} Company Info
  %a.text_link{:href => '#'} Renderman
  %a.text_link{:href => '#'} Artist's Corner
  %a.text_link{:href => '#'} How We Do It

#curtain
  %a.curtain_text{:href => '#'} Shorts
  %a.curtain_text{:href => '#'} Trailers
  %a.curtain_text{:href => '#'} Outtakes

%p.small_text
  Video in this section is presented in QuickTime format. Please download
  the latest version from Apple.

%p.small_text
  %img{:alt => "Get QuickTime", :src => "images/getquicktime.gif"}/

%p.small_text
  &#8482; &amp; &copy; 1986 - 2010 Pixar. All Rights Reserved.

%p.small_text
  QuickTime and the QuickTime Logo are trademarks of Apple Computer, Inc., registered in the U.S. 
  and other countries.

%p.small_text
  The Get QuickTime Badge is a trademark of Apple Computer Inc., used with permission.
