!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Columbian Flag: Chris Jaeger | Pol Llovet
  %body
    %h1
      Chris Jaeger &amp; Pol Llovet
    %p
      Original Flag
    %p
      %img{ :src => "images/columbia_flag.gif", :alt => "Columbia Flag" }
    %p
      Kompozer Flag
    %table{ :cellspacing => "0px", :style => "height:151px; width:226px;background-color: #FFFF00; border: 1px solid black;" }
      %tr{ :style => "height: 50%" }
        %td
      %tr{ :style => "height: 25%; background-color: #584ea7" }
        %td
      %tr{ :style => "height: 25%; background-color: #EE2900" }
        %td
    %hr
    %p{ :style => "font-style:italic" }
      Extra (ignore if you like)
    %p
      %a{ :href => "http://en.wikipedia.org/wiki/Flag_of_Colombia" }
        A Proper Colored Columbian Flag
    %table{ :cellspacing => "0px", :style => "height:151px; width:226px;background-color: #FCD116; border: 1px solid black;" }
      %tr{ :style => "height: 50%" }
        %td
          \#FCD116
      %tr{ :style => "height: 25%; background-color: #003893" }
        %td
          \#003893
      %tr{ :style => "height: 25%; background-color: #CE1126" }
        %td
          \#CE1126
