body {
  font-family: Garamond, serif;
  background-color: #181818;
  color: #ffffff; }

.container {
  width: 960px;
  border: 1px solid red;
  height: 700px; }

#horizontal-strip {
  float: left;
  height: 50%;
  margin-bottom: -120px; }

.game {
  clear: both;
  height: 240px;
  width: 100%;
  position: relative;
  border: 1px solid white; }

/* EOF */
