---
extension: html
filter:    haml
---
!!! Strict

%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")/
    %meta(name="author" content="text/html; charset=utf-8")/
    %title= @page.title
    %link(rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection")/
    %link(rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print")/
    /[if IE]
      %link(rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection")/
    %link(rel="stylesheet" href="css/site.css" type="text/css" media="screen, projection")/
    %link(rel="stylesheet" href="css/game.css" type="text/css" media="screen, projection")/
    %link(rel="stylesheet" href="css/jquery.fancybox-1.3.1.css" type="text/css" media="screen, projection")/
    %script(type="text/javascript" src="js/jquery-1.4.2.min.js")
    %script(type="text/javascript" src="js/jquery.easing-1.3.pack.js")
    %script(type="text/javascript" src="js/jquery.mousewheel-3.0.2.pack.js")
    %script(type="text/javascript" src="js/jquery.fancybox-1.3.1.pack.js")
    %script(type="text/javascript" src="js/fancybox.init.js")
    %script(type="text/javascript" src="js/rockpaperscissors.js")
    %script(type="text/javascript" src="js/params.js")
  %body
    #slide-game= render(:partial => 'game')
    #play-button
      P L A Y
    #navigation= render(:partial => 'navigation')
    %img(id='logo' src='images/wiley-logo-blue.png')

    .container= @content
