---
extension: html
filter:    haml
---
!!! Strict

%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", 'lang' => "en-us"}
  %head
    %meta{'http-equiv' => "content-type", 'content' => "text/html; charset=utf-8"}/
    %meta{'name' => "author", 'content' => "text/html; charset=utf-8"}/
    %title= @page.title
    /Blueprint CSS Framework
    %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/screen.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/print.css", 'type'=>"text/css", 'media'=>"print"}/
    /[if IE]
      %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/ie.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    /CodeRay syntax highlighting CSS
    / %link{'rel'=>"stylesheet", 'href'=>"/css/coderay.css", 'type'=>"text/css"}/
    /Site CSS
    %link{'rel'=>"stylesheet", 'href'=>"/css/site.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    
  %body
    .container= @content

    #bottom-strip= render(:partial => 'game')