---
extension: html
filter:    haml
---
!!! Strict

%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", 'lang' => "en-us"}
  %head
    %meta{'http-equiv' => "content-type", 'content' => "text/html; charset=utf-8"}/
    %meta{'name' => "author", 'content' => "text/html; charset=utf-8"}/
    %title= @page.title
    /Blueprint CSS Framework
    %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/screen.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/print.css", 'type'=>"text/css", 'media'=>"print"}/
    /[if IE]
      %link{'rel'=>"stylesheet", 'href'=>"/css/blueprint/ie.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    /Site CSS
    %link{'rel'=>"stylesheet", 'href'=>"/css/site.css", 'type'=>"text/css", 'media'=>"screen, projection"}/
    
  %body
    #navigation
      #edge
      #tabs
        .home
          %a(href='/welcome.html')
            h<br>
            o<br>
            m<br>
            e
        .about
          %a(href='/text_heavy.html')
            a<br>
            b<br>
            o<br>
            u<br>
            t
        .events
          %a(href='/welcome.html')
            e<br>
            v<br>
            e<br>
            n<br>
            t<br>
            s<br>
        .books
          %a(href='/image_heavy.html')
            b<br>
            o<br>
            o<br>
            k<br>
            s<br>
    
    #default-game= render(:partial => 'game')
    %img(id='logo' src='images/wiley-logo-blue.png')
    .container= @content
