---
extension: css
filter:    sass
layout:    nil   # no layout
---

// Color Variables
!background = #D3D3D3
!lightslate = #2C2C2C
!border     = #DDD
!header     = #666
!link       = #125AA7
!link_hover = #000
!blockquote = #666
!box_bg     = #EEE
!highlight  = #2C2C2C
!quiet      = #666
!alt        = #666

// Body
body 
  font-family: Garamond, serif
  background-color = !background
  min-width: 960px
  color: #000
  padding-bottom: 120px

.container
  margin: 0px 120px 120px 10px
  padding-top: 10px

// Headings
h1,h2,h3,h4,h5,h6 
  color = !header

// Text Elements
a
  color = !link
  &:hover
    color = !link_hover
blockquote
  color = !blockquote

pre
  background = !box_bg
  border = "1px solid #{!border }" 

hr
  background = !highlight
  color =      !highlight

// Alignment
.center
  text-align: center

// Size
.big-text
  font-size: 5em

// Tables
table 
  border-top  = "1px solid #{!border}"
  border-left = "1px solid #{!border}"

th,td 
  border-bottom = "1px solid #{!border}"
  border-right  = "1px solid #{!border}"

// Default Classes
p
  font-size: 1.2em
  line-height: 1em
  .quiet 
    color = !quiet
  .title
    color: #111
    font-family: Garamond, serif
    font-size: 2em
    margin-bottom: 0.75em

.alt    
  color = !alt

#header 
  p.title 
    font-size: 3em 
    line-height: 1
    margin-bottom: 0.5em

#front-game
  margin-top: 290px
  color: #FFFFFF
  
#default-game
  position: absolute
  bottom: 0px
  width: 100%

#logo
  position: absolute
  top: 0px
  right: 0px
  padding: 10px
  background-color= !lightslate
  //  bottom: 10px
  //  right: 10px
  
!nav_home   = #8f6a53
!nav_about  = #69b205
!nav_picks  = #b213a0
!nav_events = #6662a2
!nav_books  = #b2aa34
!nav_gear   = #52a3b2

// Navigation Strip
#navigation
  position: absolute
  right: 0px
  height: 100%
  width: 100px
  background-color: #000
  border-left= "10px solid #{!lightslate}" 
  border-right= "10px solid #{!lightslate}" 
  text-align: center
  color: #D3D3D3
  #tabs
    width: 100px
    padding-top: 115px
    div
      margin: 10px
      border = "3px solid #{!lightslate}"
      font-size: 1.2em
      font-weight: bold
      text-transform: uppercase
      color: #000000
      &.home 
        background-color= !nav_home
      &.about 
        background-color= !nav_about
      &.picks
        background-color= !nav_picks
      &.events 
        background-color= !nav_events
      &.books
        background-color= !nav_books
      &.gear
        background-color= !nav_gear
      &:hover
        border: 3px solid #D3D3D3
      &.selected
        border: 3px solid #D3D3D3
        
    a
      text-decoration: none
      color: black
      display: block

// Big Quote
.bottom
  margin-top: 100px

.big-quote
  font-size: 18em
  line-height: 1em
  color = !header
  margin-top: -60px

// Image of Sam and Sara
#sam_and_sara
  float: left
  margin-right: 10px
  
#book
  text-align: center

.book,.event,.gear,.pick
  img
    float: left
    margin-right: 10px
  .bigthumb
    width: 300px
    height: 400px
    background-color: red
    float: left
  &.thumb
    width: 100px
    height: 150px
    background-color: red
    float: left
    margin: 5px 10px 5px 5px

img.thumb
  border: 8px solid #2C2C2C