---
extension: css
filter:    sass
layout:    nil   # no layout
---

// Color Variables
!background = "#181818"
!border     = "#ddd"
!header     = "#666"
!link       = "#125AA7"
!link_hover = "#000"
!blockquote = "#666"
!box_bg     = "#eee"
!highlight  = "#B2CCFF"
!quiet      = "#666"
!alt        = "#666"

// Body
body 
  font-family: Garamond, serif
  background-color = !background
  min-width: 960px
  color: white
  padding-bottom: 120px

.container
  margin: 10px

// Headings
h1,h2,h3,h4,h5,h6 
  color = !header

// Text Elements
a
  color = !link
  &:hover
    color = !link_hover
blockquote
  color = !blockquote

pre
  background = !box_bg
  border = "1px solid #{!border }" 

hr
  background = !highlight
  color =      !highlight

// Tables
table 
  border-top  = "1px solid #{!border}"
  border-left = "1px solid #{!border}"

th,td 
  border-bottom = "1px solid #{!border}"
  border-right  = "1px solid #{!border}"

// Default Classes
p
  .quiet 
    color = !quiet
  .title
    color: #111
    font-family: Garamond, serif
    font-size: 2em
    margin-bottom: 0.75em

.alt    
  color = !alt

#header 
  p.title 
    font-size: 3em 
    line-height: 1
    margin-bottom: 0.5em

#front-game
  margin-top: 290px
  
#default-game
  position: absolute
  bottom: 0px
  width: 100%

#logo
  position: absolute
  bottom: 10px
  right: 10px

// Navigation Strip
#navigation
  position: absolute
  right: 0px
  height: 100%
  width: 120px
  background-color: #000
  #edge
    background-color: #2C2C2C
    width: 50%
    height: 100%
    float: left
  #tabs
    float: left
    width: 50%
    padding-top: 7px
    div
      margin-right: 20px
      margin-top: 3px
      text-align: center
      border: 3px solid #2C2C2C
      border-left: 5px solid #2C2C2C
      font-size: 1.2em
      font-weight: bold
      text-transform: uppercase
      &.home 
        background-color: magenta
      &.about 
        background-color: green
      &.events 
        background-color: cyan
      &.books
        background-color: orange
    

// Game Strip
#game
  height: 100px
  background-color: #2C2C2C
  padding: 10px
  .rps
    margin-left: 100px
    width: 100px
    height: 100px
    float: left
    &.rock
      background-image: url(/images/rock.png)
      &:hover
        background-image: url(/images/rock-w.png)
    &.paper
      background-image: url(/images/paper-y.png)
      &:hover
        background-image: url(/images/paper-w.png)
    &.scissors
      background-image: url(/images/scissors.png)
      &:hover
        background-image: url(/images/scissors-w.png) 
    &.result
      background-image: url(/images/scissors-r.png)

// Image of Sam and Sara
#sam_and_sara
  float: left
  margin-right: 10px
  
#book
  text-align: center