---
extension: css
filter:    sass
layout:    nil   # no layout
sass_options: 
  style: expanded
---


// Color Variables
!background = #D3D3D3
!lightslate = #2C2C2C
!border     = #DDD
!header     = #666
!link       = #125AA7
!link_hover = #000
!blockquote = #666
!box_bg     = #EEE
!highlight  = #AAA
!quiet      = #666
!alt        = #666
!text       = #000
!logo       = #404EA8

!nav_home   = #ac8466
!nav_about  = #69b205
!nav_picks  = #be73c3
!nav_events = #717bca
!nav_books  = #b2aa34
!nav_gear   = #52a3b2

// Body
body 
  font-family: Palatino Linotype, Book Antiqua, Palatino, Garamond, Georgia, serif
  background-color = !background
  min-width: 960px
  color= !text

#spacer
  width: 960px

// Headings
h1,h2,h3,h4,h5,h6 
  color = !header
  margin-left: 10px
  margin-bottom: 5px
h1
  border-bottom= "1px solid #{!lightslate}"
  margin-bottom: 20px
  margin-top: 20px
  padding-bottom: 20px
  font-size: 2.5em
  
.subtitle
  font-weight: bold

// Text Elements
a
  color = !link
  &:hover
    color = !link_hover
blockquote
  color = !blockquote

pre
  background = !box_bg
  border = "1px solid #{!border }" 

hr
  background = !highlight
  color =      !highlight

div.border
  border-right= "1px solid #{!highlight}"

.silver
  background-color= !lightslate
  color= !background
  margin-left: 10px
  text-align: center

// Alignment
.center
  text-align: center

// Size
.big-text
  font-size: 5em

// Default Classes
p
  margin-left: 10px
  .quiet 
    color = !quiet
  .title
    color: #111
    font-family: Garamond, serif
    font-size: 2em
    margin-bottom: 0.75em
.alt    
  color = !alt

#header 
  p.title 
    font-size: 3em 
    line-height: 1
    margin-bottom: 0.5em

#front-game
  position: absolute
  width: 100%
  top: 50%
  margin-top: -60px

#slide-game
  position: absolute
  width: 100%
  margin-left: -100%
  top: 50%
  margin-top: -60px

#playbutton
  position: absolute
  height: 180px
  margin-top: -90px
  top: 50%
  left: -40px
  width: 60px
  background-image: url(../images/playbutton.png)
  &.pick
    background-image: url(../images/playbutton-y.png)    
  &:hover
    background-image: url(../images/playbutton-w.png)

#front-logo
  display: none
  width: 820px
  margin: 75px auto
  a
    text-decoration: none
    margin: 0px 0px 0px 540px
    width: 100px
    font-size: 1em
    display: block
    color= !lightslate
    &:hover
      color= !link  

#logo
  position: absolute
  top: 0px
  right: 0px
  padding: 10px
  background-color: transparent
  //  bottom: 10px
  //  right: 10px

// Navigation Strip
#navigation
  position: absolute
  right: 0px
  height: 100%
  width: 120px
  background-color: transparent
  border-left= "1px solid #{!lightslate + #222}"  
  text-align: center
  color= !text
  #tabs
    width: 120px
    padding-top: 115px
    div
      margin: 10px
      border = "3px solid transparent"
      font-size: 1.2em
      font-weight: bold
      text-transform: uppercase
      color= !text
      &.home 
        background-color= !nav_home
      &.about 
        background-color= !nav_about
      &.picks
        background-color= !nav_picks
      &.events 
        background-color= !nav_events
      &.books
        background-color= !nav_books
      &.gear
        background-color= !nav_gear
      &:hover
        border= "3px solid #{!text}"
      &.selected
        border= "3px solid #{!text}"
        
    a
      text-decoration: none
      color: black
      display: block
  #win-score,#lose-score,#draw-score
    display: inline
    
// Big Quote
.bottom
  margin-top: 100px

.big-quote
  font-size: 18em
  line-height: 1em
  color = !header
  margin-top: -60px

.left
  float: left
  margin-right: 10px
  
.right
  float: right
  margin-left: 10px

.gallery
  margin: 10px

#book
  text-align: center

.book
  img
    float: left
    margin: 10px
  .big_book
    margin-top: 20px
  .bigthumb
    width: 300px
    height: 400px
    background-color: red
    float: left

.pick
  img
    margin-top: 10px

.thumb
  margin-left: 10px
  margin-bottom: 10px
  
.rock, .paper, .scissors
  height: 125px
  img
    float: left
    display: block
    margin-right: 10px
    
.owners
  img
    margin-top: 25px
    
.who-are-we
  margin-top: 30px
  float: left

.new_pick_text
  margin-top: 25px

/ .rock_def
/   
/ 
/ .paper_text
/   
/   
/ .scissors_text
 
