---
title:  Wiley Books
filter: haml
extension: html
---

.span-10
  .who-are-we.span-10.last
    %h1 Who are we?
    %img.left.thumb(alt='Sam and Sara' src='../images/samsara.png')
    %h3 Sam & Sara
    %p We are Sam and Sara Wiley, and as you have probably already deduced: we are fanatical about books. And perhaps the game of Rock Paper Scissors as well... We grew up in the small town of Bacaslova, somewhere south of Bali. We both moved to the United States in 2000 to follow our dream of opening a roshambo themed book store.
  .span-10.last
    %h3 How it all started...
    %a.fancybox(href='../images/books/wob/wob-inside.png')
      %img.right.thumb(src='../images/books/wob/wob-inside-sm.png')
    %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.span-10.last
  %h1 About the<br/>Wiley Book Shop
  .span-10.last
    %a.fancybox(href='../images/books/wob/wob-cover.png')
      %img.left.thumb(src='../images/books/wob/wob-cover-sm.png')
    %h3 The book that began the journey...
    %p We would tell you the title, but just as the contents, it is shrouded in mystery. We found this book abandoned in a seaside cave with no evidence from where it came.
  .span-10
    %h1 Where are we?
  .span-5
    %h3 Address
    %p 
      232 North Higgins<br />Missoula, MT 59802-4435<br />406-728-8780<br />
      %a#gmap(href='http://maps.google.com/maps?hl=en&client=firefox-a&ie=UTF8&q=232+North+Higgins,+missoula+mt&fb=1&gl=us&hnear=&cid=0,0,5574034720807332466&ei=4zPRS_STBoaMswOtpunFCQ&ved=0CAcQnwIwAA&hq=232+North+Higgins,+missoula+mt&ll=46.872074,-113.993883&spn=0.008317,0.014956&t=h&z=16&iwloc=A') Directions
    %h3 Hours
    %p 7AM - 12AM Monday - Saturday.
  .span-5.last
    %a.fancybox(href='../images/map.png') 
      %img(src='../images/map_s.png')
    
