---
title:  Wiley Books
filter: haml
extension: html
---

.span-10
  .span-6
    .book
      %img(src='../images/books/mfo/mfo-cover.jpg')  
  .span-3.last
    .pick
      %a.fancybox(href='../images/books/mfo/rules_rinzai_on.jpg')
        %img(src='../images/books/mfo/rules_rinzai_on-sm.jpg')
      %a.fancybox(href='../images/books/mfo/rules_on.jpg')
        %img(src='../images/books/mfo/rules_on-sm.jpg')
  .span-9.last
    .gallery
      %a(rel='bookgallery' href='../images/books/mfo/moon_fish_ocean.jpg')
        %img(src='../images/books/mfo/moon_fish_ocean.jpg' height='69px')
      %a(rel='bookgallery' href='../images/books/mfo/rules_soto_on.jpg')
        %img(src='../images/books/mfo/rules_soto_on.jpg' height='69px')
      %a(rel='bookgallery' href='../images/books/mfo/rules_on-1.jpg')
        %img(src='../images/books/mfo/rules_on-1.jpg' height='69px')
      %a(rel='bookgallery' href='../images/books/mfo/rules_on-2.jpg')
        %img(src='../images/books/mfo/rules_on-2.jpg' height='69px')
      %a(rel='bookgallery' href='../images/books/mfo/rules_on-3.jpg')
        %img(src='../images/books/mfo/rules_on-3.jpg' height='69px')
  .span-10.last
    %h3 New book from independent book seller -
    %p
      Moon * Fish * Ocean is a Zen hand game for one, two, or three players.  In the strictest Zen interpretation, the game is played by only one person, with one hand, as a koan (a paradoxical puzzle to trigger enlightenment).
      Easy to learn and highly rewarding, every game communicates a Zen poem through sign language.  That’s because in Buddhism, moonlight symbolizes enlightenment, water symbolizes self-nature, and fish symbolize living beings (K’uan Yü Lu, Ch’an and Zen Teaching, 1960).
.span-9.last
  %h1 Sam &amp; Sara's<br/>Pick of the Month
  .span-9.last
    %h3 Moon Fish Ocean -<br />A Zen Conversion of Rock Paper Scissors
    %p An amazing re-imagining of the universe.  Oddfellow takes what should be a simple thing, and transforms it into a tragic tale of impending beauty.
    .rock
      %img(src='../images/sam.png') 
      .span-6.last
        %h4 "Amazing Find"
        %p
          "This book is incredible, it is basically why we started this in the first place.  Love, loss, precious moments in your life draining away as you peer into the depths of your own soul."
    %br(clear='all')
    .paper
      %img(src='../images/sara.png')
      .span-6.last
        %h4 "Everyone Should Read This Book"
        %p
          "At first you're thinking, 'really?' But then it hits you and never lets go. I was unable to put it down and looked up at the moon and said, 'WWhy would you curse the world with such beauty?!'  It is impossible to say."

