---
title:  Wiley Books
filter: haml
extension: html
---

.span-10
  .book
    %img.big_book(src='../images/books/wob/wob-cover.png')
.prepend-1.span-9.last
  %h1 Welcome to the<br/>Wiley Book Shop
  .span-9.last
    .rock
      %img(src='../images/rock.png') 
      .span-6.last
        %h4.subtitle
          Rocks are strong.
        %p
          I. 1. a. A large rugged mass of stone forming a cliff, crag, or natural prominence on land or in the sea.<br>
          2. orig. U.S.    a. Musical rhythm characterized by a strong beat.
    %br(clear='all')
    .paper
      %img(src='../images/paper.png')
      .span-6.last
        %h4.subtitle
          Books are made of Paper.
        %p
          1. a. Material in the form of thin, flexible sheets used for writing, printing, or drawing on, or for wrapping, covering, etc., usually made from wood pulp which is dried, pressed, and (generally) bleached.
    %br(clear='all')
    .scissors
      %img(src='../images/scissors.png')
      .span-6.last
        %h4.subtitle
          Do not run with Scissors.
        %p
          1. A cutting instrument consisting of a pair of handled blades, so pivoted that the instrument can be opened to a shape resembling that of the letter X, and the handles then brought together again so as to cause the edges of the blades to close on the object to be cut.

